<div class="row-fluid">
    <div class="span12">
    	<h3>Randolunch...why?</h3>
	    <p class="about-text">
	    Hi, my name is Chris Spagnuolo. I'm <span style="font-style:italic;">awful</span> about bringing my lunch to work, so I almost always go out to eat with my coworkers. Every day we struggle deciding where to eat because it seems like we've been to every restaurant hundreds of times! So I thought hey! Why not build a site that will <span style="font-style:italic;">choose for us</span>?!  And thus Randolunch was born...
	    </p>
	    <h4 style="margin-top:2em;">Seriously, that's it??</h4>
	    <p class="about-text">
	    Ok, there are a few other reasons as well. At my day job, I'm a .NET developer, but I have quite the infatuation with Ruby on Rails, so this is my first site that I developed using Rails. This is also the first project I've put out in public. So if you have any comments, suggestions, bug reports, etc. please email me at <%= mail_to "info@randolunch.com", "info@randolunch.com" %>. I'd love to hear from you!
	    </p>
    </div>
</div>