// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

.margin0 {
	margin: 0;
}

.pickAgainContainer {
	margin-top: 2em;
}

#reviews {
	margin-left: 5px;
}

#map_canvas {
	height:400px;
}

p {
	margin-bottom: 5px;
}

.main-subtext {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}



.navbar {
	border-radius: 0;
}

.navbar-inner, .hero-unit, .well {
	border-radius: 0;
}


.header-title {
	font-size: 54px;
	padding: 10px 0 10px 0;
}

.distance {
	width: 60px;
}

.distance-unit {
	width: 110px;
}