// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

.margin0 {
	margin: 0;
}

.pickAgainContainer {
	margin-top: 2em;
}

#reviews {
	margin-left: 5px;
}

p {
	margin-bottom: 5px;
}