<!DOCTYPE html>
<html>
<head>
  <title>Randolunch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- TODO: Only add key in production -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyA5XkMLsFdKPPgBsZ1zjjFeg-T4WRRm6Fs"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43249533-1', 'randolunch.com');
  ga('send', 'pageview');
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
